/*mobile*/
@media screen and (max-width: 1070px){
    .brand{
        margin: 0 !important;
    }
    .nav-search{
        justify-content: flex-end;
    }
    .nav__item{
        display: none;
    }
    
    .search-icon:hover {
        background-color: transparent !important;
    }
    .list-books__content{
        flex-wrap: wrap;
        justify-content: space-around !important;
    }
    .grid__row{
        margin: 0 !important;
    }
    .new-inf{
        margin-top: 10px;
        margin-left: 0 !important;
    }
    .nav-wraper--responsive{

    }
    .nav--responsive{
        display: block !important;
        position: absolute;
        top: 100%;
        height: 100vh;
        background-color: #fff;
        color: rgba(0,0,0,0.87);
        font-size: 20px;
    }
    .nav--responsive__item{
        padding: 10px 20px;
        border-radius: 1px solid ;
    }
    .nav--responsive__item:first-child{
        padding-top: 20px;
    }
    .list-books__content--child{
        width: 49%;
        margin: 5px 0;
    }
}
@media screen and (max-width: 740px) {
    .grid__column--post-responsive{
        width: 100% !important;
        padding: 0 !important;
    }
    .post-tilte{
        margin-bottom: -10px !important;
    }
    .new-content{
        flex-direction: column;
        align-items: center;
    }
    .new-content__link{
        width: 100% !important;
        height: 220px !important;
    }
    .views{
        margin-top: 50px;
    }
    .new__post-list{
        padding: 0 !important;
    }
    .new__post-list--item:last-child{
        border: none;
    }
    .brand{
        font-size: 20px !important;
        text-align: center;
    }

    .grid--footer-responsive{
        display: none;
    }
    .grid__row--footer-responsive{
        display: none;
    }
    .grid__column--footer-responsive{
        display: none;
    }
    .introduce{
        margin-top: 76px !important;
    }
    .grid{
        padding: 0 10px;
    }
    .grid__row--phone-responsive{
        margin: 0 -10px !important;
    }
    .menu-list{
        left: 0px !important;
    }
    .menu-list::before{
        left: 6px !important;
    }
    .submenu-list{
        left: 80% !important;
    }
    .submenu-list__item--link{
        width: 140px !important;
    }
}
/* tablet */
@media screen and (min-width: 741px) and (max-width: 1070px) {
    
    .grid__column-8--post-responsive{
        width: 60% !important;
        padding: 0 !important;
        padding-right: 10px !important;
    }
    .grid__column-4--post-responsive{
        width: 40% !important;
        padding: 0 !important;
        padding-left: 10px !important;
    }
    .new-content{
        flex-direction: column;
    }
    .new-content__link{
        width: 100% !important;
        height: 240px !important;
    }
    .introduce{
        margin-top: 80px !important;
    }
    .grid{
        padding: 0 40px;
    }
    .grid__row--tablet-responsive{
        margin: 0 -40px !important;
    }
}

